<mat-card class="weather">
  <mat-card-content>

    <mat-card>
      <mat-card-content>

      <form class="form">
        <mat-form-field class="full-width">
          <mat-label>City</mat-label>
            <input #city matInput [formControl]="fieldFormControl">
            <mat-error *ngIf="fieldFormControl.hasError('required')">
              City is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Region</mat-label>
            <input #region matInput [formControl]="fieldFormControl">
            <mat-error *ngIf="fieldFormControl.hasError('required')">
              Region is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Country</mat-label>
            <input #country matInput [formControl]="fieldFormControl">
            <mat-error *ngIf="fieldFormControl.hasError('required')">
              Country is <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </form>

        <button (click)="getCurrentWeather(city.value, region.value, country.value)"> Get forecast </button>

        <div id="temp"> Temperature (Celcius) <p style="padding-left: 5px">{{temp}}</p> </div>
        <div id="pres"> Pressure (mb) <p style="padding-left: 5px">{{pres}}</p> </div>
        <div id="app_temp"> "Feels Like" temperature (Celcius) <p style="padding-left: 5px">{{app_temp}}</p> </div>
        <div id="rh">  Relative humidity (%) <p style="padding-left: 5px">{{rh}}</p> </div>
        <div id="clouds"> Cloud coverage (%) <p style="padding-left: 5px">{{clouds}}</p> </div>
        <div id="wind_spd"> Wind speed (m/s) <p style="padding-left: 5px">{{wind_spd}}</p> </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>